
// CONTACT SECTION
// CONTACT SECTION
// CONTACT SECTION

.contactSection {
    @include center;
    background-color: $offWhite;
    width: 100%;
    padding: 60px 0px 100px 0px;

    textarea {
        width: 96%;
        padding: 20px;
        background-color: $baseWhite;
        border: 1px solid grey;
        resize: none;
        font-size: 1.5rem;
    }

    .formSection {
        width: 100%;
    }

    textarea:hover {
        border: 1px solid $accent;
    }

    form {
        display: flex;
        @include center;
        width: 85%;
        margin: 20px 0px;

        button {
            cursor: pointer;
            padding: 1.5rem 4.6rem;
            margin-top: 30px;
            background-color: $accent;
            border: 0.5px solid rgba(0, 0, 0, .5);
            text-decoration: none;
            color: black;
            font-size: 1.7rem;
        }
    }

    .formBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px 0px;

        input {
            width: 46%;
            line-height: 2.2;
            padding: 20px;
            background-color: $baseWhite;
            border: 1px solid grey;
            font-size: 1.5rem;            
        }

        input:hover {
            border: 1px solid $accent;
        }
    }
}

.formNote {
    @include center;
}

@media (max-width: 420px) {

    .contactSection button {
        width: 100%;
    }
}


// CONTACT LOGO BOX

.contactLinkBox {
    @include center;
    background-color: $offWhite;
    width: 100%;
}

.contactIcons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 60px;

    .logo {
        margin: 0px 5px 0px 5px;
        width: 65%;

        .icon {
            width: 100%;
            margin: 10px 0px;
        }

        span {
            font-size: 2rem;
            color: black;
        }
        
    }   
}

// Tool tip code 

.tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: white;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
        margin-bottom: 20px;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }

// FOOTER SECTION
// FOOTER SECTION
// FOOTER SECTION

footer {
    background-color: black;
    width: 100%;
    @include center;
    padding: 10px 0px;

    p {
        color: white;
        width: 60%;
        text-align: center;
    }
}

// MEDIA QUERIES 
// MEDIA QUERIES 
// MEDIA QUERIES 

@media (max-width: 850px) {

    .contactIcons {
        width: 80%;
    }

    .contactBox {
         
        .formBox {
            flex-direction: column;

            input {
                width: 95%;
            }
        }

        .formBox input:nth-child(4) {
            margin-top: 20px;
        }
    }    
}

 @media (max-width: 480px) {
     
    .contactIcons {
    width: 92%;
    }


    .contactBox {

        .formBox {
            width: 80%;
        }

        textarea {
            width: 80%;
        }

        .contactIcons {
            width: 80%;
        }
    }
}

@media (max-width: 380px) { 

    .contactSection {
        padding: 60px 0px 100px 0px;
    }

    .contactIcons {
        width: 100%;
        padding: 0px 5px 0px 5px;

        .logo {
            width: 70%;
        }
    }
}

