
// HEADER SECTION
// HEADER SECTION
// HEADER SECTION

// Skip Link

.skipLink {
  position: absolute;
  left: -100%;
  top: 0px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: red;
  color: $offWhite;
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;
}

.skipLink:focus {
  left: 0;
}

.loader {
    font-size: 5rem;
    color: white;
}

// ********************

header {
    width: 100%;
    @include center;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 20px;
    background-color: $offWhite;

    .wrapper .logoDiv {
        width: 30%;
        margin-right: 116px;;

        img { width: 100%; }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .builtInBox {
    
        .icon {
            font-size: 4rem;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 20px;
        }
    }

    .builtInBox > .icon:nth-child(3) {
        margin-left: 35px;
    }

    div {

        p {
            color: black;
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }

    nav {
        width: 95%;
        margin: 40px 0px;
        @include center;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        flex-wrap: wrap;
        width: 95%;
        padding: 0px;

        li {
            margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 2.8rem;
            margin: 4px 10px;
            display: inline-block;
            
        }
    }

    h1 {
        margin-top: 35px;
        margin-bottom: 30px;
        color: black;
        text-align: center;
    }

    h2 {
        margin: 0px;
        color: black;
        text-align: center;
    } 
    
}

// ABOUT SECTION
// ABOUT SECTION
// ABOUT SECTION

.about {
    @include center;
    padding: 60px 0px 50px 0px;
    width: 100%;

 .wrapper {
    flex-direction: row;
    justify-content: space-around;

        .heroImgDiv  {
        width: 30%; 

            img {
        width: 100%;
        }
    }   

    p {
        width: 90%;
     
    }

    h3 {
        margin-bottom: 10px;
    }

    .aboutContainer {
        width: 55%;

        }
    }
}

.about p:nth-child(2) {
    margin-bottom: 17px;
}

.about h3:nth-child(1) {
    margin-bottom: 15px;
}

// MEDIA QUERIES
// MEDIA QUERIES
// MEDIA QUERIES

@media (max-width: 480px) {

    header ul {
        justify-content: space-around;
        width: 90%;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 3.7rem;
    }

    h2 {
        font-size: 2.7rem;
    }

    header ul {
    flex-wrap: wrap; 


        a {
            font-size: 2.3rem;
            
        }
    }

}
